/*  .credits {
    padding-top: 50px;
    padding-left: 350px;
    display: flex;
    background-color: #cfdeda;
    color: black;
    margin-left: -15px;
    margin-right: -100px;
}

.logo {
    width: 150px ;
    height: 150px;
}

.logo img{
    width: 150px ;
    height: 150px;
    padding: 0%;
    position: absolute;
    left: 250px;
}

.box{
    position: relative;
    font-size: 15px;
    text-align: left;
    right: 10px;
}
.box a{
    text-decoration: none;
    color: gray;
}

.box a:hover{
    color: black;
}

.box1 {
    position: relative;
    float: right;
    font-size: 15px;
    right: 70px;
}
.box1 a{
    text-decoration: none;
    color: gray;
}

.box1 a:hover {
    color: black;
}

.box2 {
    position: relative;
    float: right;
    font-size: 15px;
    right: -38px;
}

.box2 a{
    text-decoration: none;
    color: gray;
}

.box2 a:hover {
    color: black;
}

.logo2 img{
    width: 200px;
    height: 150px;
    padding: 0%;
    position: absolute;
    left: 1110px;
}

.logo2{
    right: 100px;
}

.cr2 { 
    padding-top: 50px;
    padding-left: 350px;
    display: flex;
    position: relative;
    background-color: #cfdeda;
    color: black;
    margin-left: -15px;
    margin-right: -100px;
    margin-bottom: auto;
}

*/




